@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

/* ---------------------- Utils */

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;;
    font-weight: 600;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/* ---------------------- Logo */

#brand {
    font-weight: 600;
    font-size: 3em;
}

#brand-link {
    text-decoration: none;
    color: white;
}

/* ---------------------- Menu */

header {
    border-bottom: 1px solid white;
}

header:hover {
    border-bottom: 1px solid #ef9377;
    transition: 500ms;
}

#menu .nav .nav-item a,
a {
    color: white;
}

#menu .nav-item a:hover,
#brand:hover,
a:hover {
    color: #dea1ec !important;
}

#menu .nav-item a:hover {
    border-bottom: 2px solid #ef9377;
    padding-bottom: 3px;
}

/* ---------------------- DL Button */

#header-nav #dl-cv:hover {
    background-color: #dea1ec;
}

/* ---------------------- Main header */

#hero-head {
    background-image: url('/assets/images/pano.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#title {
    color: #ef9377;
    display: flex;
}

/* ---------------------- Info Cards */

#info>div {
    border: 2px solid black;
    border-radius: 5px;
}

#info>div:hover {
    border: 2px solid #ef9377;
    transition: 500ms;
}

/* ---------------------- Footer */

.footer-icons {
    font-size: 1.5em;
    color: white;
}

footer a {
    margin: 0 5px;
}