/* ---------------------- Logo */

#brand {
    text-decoration: none;
    color: white;
}

/* ---------------------- Menu */

#menu .nav .nav-item a {
    color: white;
}

#menu .nav-item a:hover,
#brand:hover {
    color: #dea1ec !important;
}

#menu .nav-item a:hover {
    border-bottom: 2px solid #ef9377;
    padding-bottom: 3px;
}

/* ---------------------- DL Button */

#header-nav #dl-cv:hover {
    background-color: #dea1ec;
}

/* ---------------------- Main header */

#hero-head {
    background-image: url('/assets/images/glacier.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}